<%
  only_pattern = property_bridge.only_pattern?
  label = only_pattern ? 'Object value' : 'URI / Literal'
%>

<label for="tables-join-object-format" class="col-sm-2 control-label"><%= label %></label>
<div class="col-sm-9">
  <%= render(partial: 'object_uri_pattern',
             locals: {property_bridge: property_bridge,
                      property_bridge_property_setting: property_bridge_property_setting,
                      disp: object_format == 'd2rq:uriPattern'}) %>

  <% unless only_pattern %>
    <%= render(partial: 'object_uri_column',
               locals: {property_bridge: property_bridge,
                        property_bridge_property_setting: property_bridge_property_setting,
                        disp: object_format == 'd2rq:uriColumn'}) %>
  <% end %>

  <%= render(partial: 'object_literal_pattern',
             locals: {property_bridge: property_bridge,
                      property_bridge_property_setting: property_bridge_property_setting,
                      disp: object_format == 'd2rq:pattern'}) %>

  <% unless only_pattern %>
    <%= render(partial: 'object_literal_column',
               locals: {property_bridge: property_bridge,
                        property_bridge_property_setting: property_bridge_property_setting,
                        disp: object_format == 'd2rq:column'}) %>
  <% end %>
</div>
