<div class="form-group">
  <%= f.label :licence_subject_uri, 'Subject URI', class: 'col-sm-2 control-label' %>
  <div class="col-sm-9">
    <%= f.text_field :licence_subject_uri, id: "licence-subject-uri", class: "form-control" %>
  </div>
</div>

<div id="license-form" class="form-group">
  <%= f.label :licence_text, 'License', class: 'col-sm-2 control-label' %>
  <div class="col-sm-9">
    <div><%= f.radio_button :license_id, 0 %><%= f.label :license_id_0, "Do not specify license", class: 'licence-radio-label' %></div>
    <div><%= f.radio_button :license_id, 1 %><%= f.label :license_id_1, "Public Domain Dedication and License (PDDL)", class: 'licence-radio-label' %></div>
    <div><%= f.radio_button :license_id, 2 %><%= f.label :license_id_2, "Attribution License (ODC-By)", class: 'licence-radio-label' %></div>
    <div><%= f.radio_button :license_id, 3 %><%= f.label :license_id_3, "Open Database License (ODC-ODbL)", class: 'licence-radio-label' %></div>
    <div><%= f.radio_button :license_id, 4 %><%= f.label :license_id_4, "CC0 Public Domain Dedication (CC0)", class: 'licence-radio-label' %></div>
    <div><%= f.radio_button :license_id, 5 %><%= f.label :license_id_5, "Commons Attribution 4.0 International (CC BY 4.0)", class: 'licence-radio-label' %></div>
    <div><%= f.radio_button :license_id, 6 %><%= f.label :license_id_6, "Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)", class: 'licence-radio-label' %></div>
    <div>
      <%= f.radio_button :license_id, 7 %><%= f.label :license_id_7, "Other License (Please enter your own license below)", class: 'licence-radio-label' %><br />
      <%= f.text_area :license, size: "100x10" %>
    </div>
  </div>
</div>
